

$enable-rounded: true !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;



@import 'b/bootstrap';



form#your-profile {
    > *{
            display: none;
    }
    #ficha_professor, .submit{
        display:block!important;

        & > div{
            border: 1px solid rgba(0, 0, 0, 0.17);
            padding: 10px 0px;
            margin-bottom: 20px;
            margin-top: 20px;
            background: #f1f1f1;
            border-radius:5px;
        }
        h2{
                margin-bottom: 20px;
                cursor:pointer;
        }
    }
}



