

$enable-rounded: true !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;



@import 'b/bootstrap';



form#your-profile {
    > *{
            display: none;
    }
    #ficha_professor, .submit{
        display:block!important;
    }
}


